
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

ul, ol, menu {
    list-style: none;
}

.section {
    width: 100%;
    padding: 50px 0;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

/* header ==========================================*/

header .section {
    background-color: #add8e6;
    padding: 17px 0;
}

header .section .content {
    justify-content: space-between;
    align-items: center;
    background-color: #daa520;
}

header .section .content > * {
    height: 100%;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    line-height: 45px;
}

.img-logo, .button-login {
    line-height: 45px;
    flex-basis: 20%;
    padding: 0 10px;
}

.button-login {
    text-align: right;
}

.section.header {
    padding: 50px 0;
    background-color: #00008b;
    border-bottom: 4px solid #add8e6;
}

.section.header .content {
    max-width: 900px;
    min-height: 400px;
    background-color: #ee82ee;
}

/* main ============================================*/


/* main main */

.section .content.main {
    height: 500px;
}

.section .content.main.reverse {
    flex-direction: row-reverse;
}

.text {
    flex-basis: 60%;
    background-color: #1e90ff;
}

.img {
    flex-grow: 1;
    background-color: #ffc0cb;
}

.section.main:nth-child(even) {
    background-color: #d3d3d3;
}

/* main footer */

.content.main.footer {
    min-height: 900px;
    background-color: #228b22;
}

/* footer ==========================================*/
/* part top */

.section.footer.top, .section.footer.bottom {
    background-color: #23272a;
    border-bottom: 2px solid #9a9a9a;
}

.section.footer.top {
    padding: 10px 0 40px;
}

.content.first, .content.last {
    min-height: 550px;
}

.content.first {
    flex-basis: 33.33%;
    background-color: #f08080;
}

.content.last {
    flex-basis: 66.67%;
    background-color: #20b2aa;
}

.content-footer {
    border: 2px dashed #fff;
    flex-grow: 1;
}

/* part bottom */

.content.footer.bottom > ul {
    justify-content: space-between;
    padding: 20px 0;
    background-color: #7fffd4;
}

.button-footer {
    background-color: #ffb6c1;
}

.button-footer {
    padding: 5px 10px;
}

.section.footer.bottom {
    padding-bottom: 0;
}