@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
}

.section {
    padding: 50px 360px;
}

[class^='content']:not(.content-footer-bottom) > *, .content-header, .content-main-footer, .content-first, .content-second, .button-footer > a {
    border: 2px dashed black;
}

.content, .content-footer-bottom > ul, .content-second, .content-second, .section.footer.top, main > .section > .content-main, .nav-link {
    display: flex;
}

/* HEADER --------------------------------------------------------------------*/

header .section {
    background-color: #add8e6;
    padding: 17px 360px;
}

.content, .content-footer-bottom > ul {
    justify-content: space-between;
}

.content {
    height: 47px;
}


[class^='content'] > * {
    background-color: #daa520;
    font-size: 20px;
    align-items: center;
    line-height: 45px;
}

[class^='content'] > * * {
    color: black;
}

.content > .img-logo {
    flex-basis: 20%;
    padding-left: 10px;
}

.content > .nav-link {
    flex-basis: 60%;
}

.content > .button-login {
    flex-basis: 20%;
    text-align: right;
    padding-right: 10px;
}

.nav-link {
    gap: 10px;
    justify-content: center;
}

/* MAIN ----------------------------------------------------------------------*/

main {
    background-color: #add8e6;
}

/* 1° SECTION */

.section.header {
    padding: 50px 500px;
}

.content-header {
    background-color: #ee82ee;
    min-height: 400px;
}

main > .section.header:first-child {
    background-color: #00008b;
    margin-bottom: 4px;
    
}

/* 2° SECTION --------------------*/

main > .section > .content-main, .content-second {
    min-height: 500px;
}
.content-main.reverse {
    flex-direction: row-reverse;
}
.content-main > .text {
    background-color: #1e90ff;
    flex-basis: 60%;
}

.content-main > .img, .content-first, .content-second .content-footer {
    flex-grow: 1;
}


.content-main > .img {
    background-color: #ffc0cb;
}

/* REST SECTION MAIN --------------*/
main > .section:nth-child(even) {
    background-color: #ffffff;
}
main > .section:nth-child(odd) {
    background-color: #d3d3d3;
}

.content-main-footer {
    background-color: #228b22;
    min-height: 900px;
}

/* FOOTER ---------------------------------------------------------------------*/

.section.footer.top, .section.footer.bottom {
    background-color: #23272a;
    border-bottom: 2px solid #9a9a9a;
}

.section.footer.top {
    padding-top: 10px;
    padding-bottom: 40px;
    min-height: 600px;
}

.section.footer.bottom {
    padding-bottom: 0;
}

.content-second, .content-second .content-footer {
    background-color: #20b2aa;
}

.content-first {
    background-color: #f08080;
}
.content-second {
    flex-basis: 70%;
}

.content-second .content-footer {
    border: 2px dashed #fff;
}

.content-footer-bottom > ul {
    padding: 18px 0;
    background-color: #7fffd4;
}

.button-footer > a {
    background-color: #ffb6c1;
    padding: 5px 10px;
}

