@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul, ol, menu {
    list-style: none;
}

.section {
    padding: 50px 360px;
}

/* HEADER -------------------------*/

header .section {
    background-color: #add8e6;
    padding: 17px 360px;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 47px;
}

[class^='content'] > * {
    background-color: #daa520;
    border: 2px dashed black;
    font-size: 20px;
    align-items: center;
    line-height: 45px;
}
.content > * * {
    color: black;
}

.content > .img-logo {
    flex-basis: 20%;
    padding-left: 10px;
}
.content > .nav-link {
    flex-basis: 60%;
}
.content > .nav-link * {
    text-decoration: none;
}
.content > .button-login {
    flex-basis: 20%;
    text-align: right;
    padding-right: 10px;
}

.nav-link {
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* MAIN ---------------------------*/

main {
    background-color: #add8e6;
}

/* 1° SECTION */

.section.header {
    padding: 50px 500px;
}

.content-header {
    background-color: #ee82ee;
    min-height: 458px;
    border: 2px dashed black;
    margin-bottom: 2px;
}

main > .section.header:first-child {
    background-color: #00008b;
    
}

/* 2° SECTION --------------------*/

main > .section > .content-main {
    display: flex;
    min-height: 500px;
}
.content-main.reverse {
    flex-direction: row-reverse;
}
.content-main > .text {
    background-color: #1e90ff;
    flex-basis: 60%;
}
.content-main > .img {
    background-color: #ffc0cb;
    flex-grow: 1;
}

/* REST SECTION MAIN */
main > .section:nth-child(even) {
    background-color: #ffffff;
}
main > .section:nth-child(odd) {
    background-color: #d3d3d3;
}

.content-main-footer {
    border: 2px dashed black;
    background-color: #228b22;
    min-height: 900px;
}

/* FOOTER ------------------------*/

.section.footer {
    background-color: #23272a;
    padding-top: 10px;
}

.section.footer.top {
    display: flex;
    border-bottom: 2px solid #9a9a9a;
}

.content-second {
    border: 2px dashed #000;
    display: flex;
    min-height: 500px;
    background-color: #20b2aa;
}

.content-first {
    border: 2px dashed #000;
    background-color: #f08080;
    flex-grow: 1;
}
.content-second {
    display: flex;
    border: 2px dashed #000;
    flex-basis: 70%;
}

.content-second .content-footer {
    background-color: #20b2aa;
    border: 2px dashed #fff;
    flex-grow: 1;
}